<div class="contact-us ">
    <form [formGroup]="userForm" (submit)="saveUser()">
        <label for="name">Name</label>
        <input formControlName="name" id="name" />
        <div class="invalid" *ngIf="name.invalid && (name.dirty || name.touched)">Invalidn name</div>

      
        <label for="email">Email</label>
        <input formControlName="email" id="email" />
        <div class="invalid" *ngIf="email.invalid && (email.dirty || email.touched)">Invalid email</div>

        <label for="phone">Phone</label>
        <input formControlName="phone" id="phone"/>
        <div class="invalid" *ngIf="phone.invalid && (phone.dirty || phone.touched)">Invalid phone</div>

        <button type="submit" [disabled]="!userForm.valid">Submit</button>
      </form>
</div>

  